<a href="https://colab.research.google.com/github/SOOJUNBARNG/python_learning/blob/main/pandas_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import requests

import pandas as pd
from io import StringIO

# # Google Drive のファイル ID
# file_id = "17QN0mIXA9DP63KC5wL0h7koYKHSdUo9j"

# # ダウンロード用のURL
# url = f"https://drive.google.com/uc?export=download&id={file_id}"

# # Google Drive からデータを取得
# response = requests.get(url)
# response.raise_for_status()  # エラーチェック

# # CSVデータを文字列として扱う
# csv_data = StringIO(response.text)

# Google SheetsのスプレッドシートID
sheet_id = "1-MEbYsbPJ9pRFKUlyOUuERe_HN4SzVqoByOqV0qaBzU"
sheet_name = "Sheet1"  # シート名を指定

# Google Sheetsから直接CSVとして取得
csv_url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}"

# Pandasで読み込む
df = pd.read_csv(csv_url)

print(df)

    患者ID     名前       施術名         施術日   担当医      費用
0    201   佐々木優   二重まぶた手術  2024-03-01  田中医師  250000
1    202    山本花   ボトックス注射  2024-03-05  鈴木医師   50000
2    203   藤田健太    レーザー美白  2024-03-10  高橋医師  120000
3    204   中村美咲       鼻整形  2024-03-15  山田医師  450000
4    205    小林翔   フェイスリフト  2024-03-20  佐藤医師  600000
5    206    小林翔  ヒアルロン酸注射  2024-03-22  田中医師   70000
6    207    小林翔    リフトアップ  2024-03-25  鈴木医師  350000
7    208   松本陽子  シミ取りレーザー  2024-03-28  高橋医師   90000
8    209    斎藤誠       顎整形  2024-04-02  山田医師  520000
9    210    高木彩  眉毛アートメイク  2024-04-05  佐藤医師   80000
10   211   三浦健一      脂肪吸引  2024-04-08  田中医師  300000
11   212  石井さくら  目の下のクマ取り  2024-04-12  鈴木医師  180000
12   213   永井翔太      美白点滴  2024-04-15  高橋医師   45000
13   214   菊池麻美      輪郭矯正  2024-04-18  山田医師  480000
14   215    杉山徹  頭皮メソセラピー  2024-04-22  佐藤医師  110000

In [6]:
# 1. index → dfのindexのデータ
print(df.index)

RangeIndex(start=0, stop=15, step=1)

In [5]:
# 2. columns → 各列の名前と列名のデータ他タイプ
print(df.columns)

Index(['患者ID', '名前', '施術名', '施術日', '担当医', '費用'], dtype='object')

In [4]:
# 3. dtypes → 各列のデータタイプ
print(df.dtypes)

患者ID     int64
名前      object
施術名     object
施術日     object
担当医     object
費用       int64
dtype: object

In [11]:
# 4. loc → 列と行のラベルでデータ操作
# 2行目(index = 1)のデータ取得
print(df.loc[1])

患者ID           202
名前             山本花
施術名        ボトックス注射
施術日     2024-03-05
担当医           鈴木医師
費用           50000
Name: 1, dtype: object

In [10]:
# 5. 患者IDが202のデータ取得
print(df.loc[df['患者ID'] == 202])

   患者ID   名前      施術名         施術日   担当医     費用
1   202  山本花  ボトックス注射  2024-03-05  鈴木医師  50000

In [9]:
# 6. 患者IDが202のデータで名前だけ取得
print(df.loc[df['患者ID'] == 202, '名前'])

1    山本花
Name: 名前, dtype: object

In [8]:
# 7. iloc → 列と行の番号で操作
# 1行目の2列の値を取得
print(df.iloc[0, 1])

佐々木優

In [7]:
# 1行目から2行目かつ1列目からの3列目の値を取得
print(df.iloc[0:2, 0:3])

   患者ID    名前      施術名
0   201  佐々木優  二重まぶた手術
1   202   山本花  ボトックス注射

In [12]:
# '名前' を出したいときlocを使う場合
# locを使う場合
print(df.loc[:, '名前'])

0      佐々木優
1       山本花
2      藤田健太
3      中村美咲
4       小林翔
5       小林翔
6       小林翔
7      松本陽子
8       斎藤誠
9       高木彩
10     三浦健一
11    石井さくら
12     永井翔太
13     菊池麻美
14      杉山徹
Name: 名前, dtype: object

In [ ]:
# '名前' を出したいときilocを使う場合
print(df.iloc[:, 1])

In [ ]:
# 8. query → 条件を指定してデータ抽出 (費用が10万円以上のデータ)
# '費用 >= 100000'データ
result = df.query('費用 >= 100000')
print(result)

In [ ]:
# '患者ID > 202 and 費用 >= 100000''データ (費用が10万円以上かつ患者idが202以上ののデータ)
result = df.query('患者ID > 202 and 費用 >= 100000')
print(result)

In [ ]:
# 9. drop_duplicates → 列を指定し、重複するデータを持つ行を行ごと削除
df_no_duplicates = df.drop_duplicates()
print(df_no_duplicates)

In [ ]:
# 13. describe → 数字のデータを持つ列の平均や標準偏差など統計データを取得
print(df.describe())